.variable-container {
  display: flex;
  align-items: center;
  margin-block: 0.5em;
  gap: 0.5em;
  width: 100%;
}

.variable-label {
  width: 200px;
  font-weight: 500;
}

.input-field {
  width: 75px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-shrink: 0;
}

.input-field-mobile {
  width: 50px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-shrink: 0;
}