services:
  reverse-proxy:
    image: nginx:stable
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    networks:
      - webnet

  certbot:
    image: certbot/certbot
    restart: always
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: >
      sh -c '
        trap exit TERM;
        while :; do
          certbot renew --webroot -w /var/www/certbot --quiet;
          sleep 12h;
        done
      '
    networks:
      - webnet

  frontend:
    image: ghcr.io/paulbeka/finance-frontend:main
    restart: always
    expose:
      - "80"
    networks:
      - webnet

  backend:
    image: ghcr.io/paulbeka/finance-backend:main
    restart: always
    expose:
      - "8000"
    env_file:
      - ./backend/.env
    networks:
      - webnet


networks:
  webnet:
