services:
  reverse-proxy:
    image: nginx:stable
    container_name: reverse_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt

  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: always
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: >
      sh -c '
        trap exit TERM;
        while :; do
          certbot renew --webroot -w /var/www/certbot --quiet;
          sleep 12h;
        done
      '

  frontend:
    image: ghcr.io/paulbeka/finance-frontend:main
    container_name: finance_frontend
    restart: always
    ports:
      - "80:80"

  backend:
    image: ghcr.io/paulbeka/finance-backend:main
    container_name: finance_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
