services:
  frontend:
    build:
      context: ./frontend
    container_name: finance_frontend
    restart: always
    ports:
      - "80:80"

  backend:
    build:
      context: ./backend
    container_name: finance_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env 
