.monte-carlo-options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.run-simulation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.output-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

.output-box-container {
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.output-box {
  background: rgb(131, 182, 212);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
}

.loading-container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

