.projectList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.projectCard {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: all 0.2s ease;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  .rightArrow{
    transform: translateX(5px);
  }
}

.rightArrow {
  transition: all 0.2s ease;
  position: absolute;
  right: 30px;
}

.expandPanel {
  overflow: hidden;
  height: 0;
  transition: height 0.35s ease;
  background: #cfcfcf;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
}

.expandContent {
  padding: 10px;
}
