.project-page {
  box-sizing: border-box;
  padding: 20px;
  margin: 1em auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  max-width: fit-content;
  padding: 5px 10px;
  transition: all 0.1s ease-in-out;
}

.back-arrow:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}