.fixed-income-yield-solver-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.variable-label {
  width: 200px;
  font-weight: 500;
}

.variable-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.5em;
}

.input-field {
  width: 75px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-shrink: 0;
}