.blocks-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 1000vh;
  z-index: -1;
  opacity: 0.2;
  background:
    radial-gradient(circle farthest-side at 0% 50%,white 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,lightgray 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(white 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,white 0)0 0,
    linear-gradient(150deg,white 24%,lightgray 0,lightgray 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,lightgray 0,lightgray 76%,white 0)0 0,
    linear-gradient(30deg,white 24%,lightgray 0,lightgray 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,lightgray 0,lightgray 76%,white 0)0 0,
    linear-gradient(90deg,lightgray 2%,white 0,white 98%,lightgray 0%)0 0 white;
    background-size:40px 60px;
}

.blocks-background::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image: 
    radial-gradient(circle at 20% 30%, rgba(0,0,0,0.10), transparent 60%),
    radial-gradient(circle at 70% 60%, rgba(0,0,0,0.15), transparent 65%),
    radial-gradient(circle at 40% 80%, rgba(0,0,0,0.08), transparent 70%),
    radial-gradient(circle at 80% 20%, rgba(0,0,0,0.12), transparent 55%);

  pointer-events: none;
  z-index: 1;
  mix-blend-mode: multiply;
}