.black-scholes-module-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.option-price-container {
  text-align: center;
  background: rgb(131, 182, 212);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.variable-label {
  width: 200px;
  font-weight: 500;
}

.variable-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.5em;
}

.input-field {
  width: 75px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex-shrink: 0;
}